/* *{
  border: 1px solid red;
} */

body{
  margin: 0;
  background-color: #1A1B21;
  font-size: 16px;
  color: white;
}

#me-img{
  padding-top: 40px;
  display: flex;
  justify-self: center;
  width: 80%;
}

#name-heading{
  margin: auto;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 1.8em;
  padding: 20px 0px;
}


#career{
  display: flex;
  justify-self: center;
  color: #F3BF99;
  text-align: center;
  font-size: 1em;
}

.btn-container{
  display: flex;
  height: 2.3em;
  justify-content: center;
  gap: 3em;
  padding: 2em 0em;
}

.btn-container > a > button{
  width: 8.2em;
  font-size: 1.1em;
  border-radius: 6px;
  border: none;
}

a{
  height: 1.7em;
  font-size: 1.3em;
}


#email-btn{
  color: black;
  background-color: white;
  height: 100%;
  
}

#email-btn > i{
  font-size: 1em;
  padding-right: 5px;
}

#email-btn:hover{
  /* border: 1px solid black; */
  color: white;
  background-color: black;
}

#linkedin-btn{
  color: white;
  background-color: #5093E2;
  height: 100%;
  
}

#linkedin-btn > i{
  font-size: 1em;
  padding-right: 5px;
}

#linkedin-btn:hover{
  /* border: 1px solid darkblue; */
  color:#5093E2;
  background-color: white;
}

h4{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: .5em 1em 0em 1em;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: .5em 1em 1.5em 1em;
}

#socials_footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161619;
  height: 4em;
}